# Maven artifacts and build output

target/
_.jar
_.war

# IDE

.idea/
.vscode/
_.iml
_.iws
\*.ipr
.DS_Store

# Source control

.git/
.gitignore
.gitlab-ci.yml
.github/

# Other

node_modules/
.env
.env.local
.env._.local
_.log
